// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_image{
	float:left;
	width:600px;
}

.sidebar{
	float:right;
	width:350px;
}

.clear{
	clear:both;
}